.container{
    height: 20vw;
    width: 20vw;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container{

    background-color: white;
    height: 17vw;
    width: 17vw;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    position: absolute;

}

.animation_container {

    height: 17vw;
    width: 17vw;
    border-radius: 500px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    animation: explode 0.4s;
    position: absolute;

}

@keyframes explode {

    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }

}

/* Small portrait tablet */

@media (min-height:750px) and (min-width: 500px) and (max-height: 950px) and (max-width: 700px){

    .container{
        width: 15vw;
        height: 15vw;
    }

    .inner_container,.animation_container{

        width: 12vw;
        height: 12vw;
    }

}