.container{

    margin-top: 10px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: explode 0.3s;
}

@keyframes explode {

    0%{
        transform:scale(0.0)
    }

    50%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1);
    }
}

.container:hover{
    cursor: pointer;
}

.photo_container{

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 60px;
    height: 80px;

}

.grid_image {

    height: 78px;
    width: 58px;

}

.missing_overlay{

    height: 81px;
    width: 60px;
    background-color: rgba(128, 128, 128, 0.855);
    position: absolute;

}

.year{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-top: 2px;
}

@media (min-width:500px){

    .photo_container{
        width:84px ;
        height: 110px;
    }

    .missing_overlay, .grid_image{
        width: 85px;
        height: 112px;
    }

}

@media (orientation: landscape){

    .photo_container{
        width:99.5px ;
        height: 120px;
    }

    .missing_overlay, .grid_image{
        width: 100px;
        height: 120.5px;
    }
}
