.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    background-color: #f8f8ff;
    min-height: 100%;
}

.card {
    width: 250px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.534);
    background-color: white;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 30px;
}

.image_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 262.5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.image {
    max-width: 90%;
    max-height: 90%;
    height: 262.5px;
    object-fit: contain;
}

.details_container {
    width: 100%;
    background-color: white;
    position: relative;
}

.year, .condition {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    top: 10px;
    left: 25px;
    font-size: 25px;
}

.condition {
    font-weight: 600;
    font-size: 20px;
}

.button_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 20%;
    position: absolute;
    right: 55px;
    flex-direction: column;
    height: 150px;
    background-color: white;
    width: 50px;
    box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.534);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    transition: right .5s
}

.nav_open {
    right: -50px;
}

.cog {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 21px;
    right: 15px;
}

.cog:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.go_back_button {
    color: white;
    width: 120px;
    height: 40px;
    background-color: #3676e8;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.go_back_button:hover {
    cursor: pointer;
}

/* medium landscape tablet */
@media (min-height:400px) and (min-width: 800px) and (max-height: 750px) and (max-width: 1199px) {

    .container{
        flex-direction: row;
    }

    .card{
        margin-left: 20px;
        margin-right: 20px;
    }

    @supports (-webkit-touch-callout: none) {


    }

    
}

@media (min-width:1200px) {


    .container{

        flex-direction: column;
    }

    .cards_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin-left: 30px;
        margin-right: 30px;
    }
}