.donutContainer {
    position: relative;
    float: left;
    width: 80%;
    display: flex;
    justify-content: center;
    top: 4%;
}

.donutContainer h2 {
    text-align:center;
    position: absolute;
    width: 100%;
    z-index: 999;
    margin-top: 16vh;
    font-size: 1.2rem;
}

svg {
    transform: rotate(-90deg);
}

.donut {
  stroke-dasharray: 628;
  -webkit-animation: donut 2s ease-out forwards;
  animation: donut 2s ease-out forwards;
}

@-webkit-keyframes donut {
  from {
    stroke-dashoffset: 628;
  }
}

@keyframes donut {
  from {
    stroke-dashoffset: 628;
  }
}

.percent{
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 65px;
    animation: fadeIn 2s;
    position: absolute;
    font-family: 'Exo 2', sans-serif;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

@keyframes fadeIn {

    0%{
        opacity: 0%;
    }
    100%{opacity: 100%;}
}

.modulus{

    font-size: 25px;
    margin-top: 4vh;
}
