.container {
    height: 50px;
    width: 50px;
    border: 5px solid rgba(128, 128, 128, 0.308);
    border-radius: 500px;
    box-shadow: 1px 1px 3px 1px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container:hover{
    cursor: pointer;
}

.icon {
    height: 40px;
    width: 40px;
}

.text{
    position: absolute;
    top: 62px;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
}