.container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphics_container {
    position: absolute;
    top: 10%;
}

.graphics {
    height: 30vh;
    width: 30vh;
}

.paragraph_container {
    width: 72%;
    position: absolute;
    top: 50%;
    text-align: center;
}

.paragraph {
    font-size: 3.2vh;
    font-weight: bold;
}

.button_container {
    position: absolute;
    bottom: 23%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle_container {
    position: absolute;
    bottom: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
}

/* long portrait phone */

@media (min-device-height: 700px) and (max-device-width:500px) {



}

/* very long portrait phone */

@media (min-device-height: 800px) and (max-device-width:500px) {
    .paragraph {
        font-size: 2.5vh;
    }
}

/* landscape phone*/

@media (orientation: landscape) {
    .graphics_container {
        top: 2vh;
    }
    .graphics {
        height: 40vh;
        width: 40vh;
    }
    .paragraph_container {
        width: 30%;
        top: 45%;
    }
    .paragraph {
        font-size: 1rem;
    }
}

/*small tablet landscape*/
@media (min-device-width: 800px) and (min-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape) {

    .graphics_container{
        top: 0;
    }

    .paragraph_container{

        top:50%
    }

    .paragraph{
        font-size: 4vh;
    }

}


/*tablet portrait*/
@media (min-device-height: 900px) and (max-device-height: 1280px) and (orientation: portrait) {
   
    .container{
        height: 85%;
        margin-top: 7.5%;
    }

    .paragraph_container{
        top: 55%;
        width: 60%;
    }
    .paragraph{
        font-size: 2.5vh;
    }

    /* CSS specific to iOS devices */ 
    @supports (-webkit-touch-callout: none) {
        
        .container{
            height: 80%;
            margin-top: 10%;
        }
      }
      
}

/*ipad landscape*/
@media only screen and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: landscape) {

    .container{

        height: 70%;
        margin-top: 15%;
    }
    
}

