.container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 2vh;
}

@media (orientation:landscape){

    .container{

        margin-bottom: 2vh;
    }
}

/*Standard desktop */

@media (min-width: 1200px) {

.container{
    width: 75%;
}

.container{
    position: fixed;
}
}

/*large desktop */

@media (min-width: 1500px) {

    .container{
        width: 60%;
    }
}