.container {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8ff;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9000;
    border-radius: 5px;
    animation: explode 0.35s;
    position: relative;
}

@keyframes explode{

    0%{
        transform: scale(0.0);
        left: 50vw;
        top: 100vw;
    }

    90%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);
        left: 0;
        top:0;
    }
}

.icon_container{

    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f8f8ff;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;


}

.open_icon:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.open_icon{

    position: fixed;
    top: 22px;
    right: 15px;
    z-index: 8999;
    width: 25px;
    height: 25px;
}

.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 8998;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left .3s;
}

.overlay_open{

    left: 0vw;
}

.prompt_message{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

@media (orientation:landscape){

}

/*Standard desktop */

@media (min-width: 1200px) {




}

/*large desktop */

@media (min-width: 1500px) {


}