.text{
    font-size: 1.2rem;
    color: #F8F8FF;
    font-weight: 200;
    font-weight: bold;
}

.container {
    width: 35%;
    padding: 1vw 0;
    text-align: center;
}

/* landscape phone*/
@media (orientation: landscape) {

    .container{
        width: 15%;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text{
        font-size: 1rem;
    }
    
}

