.container{
    height: 30px;
    width: 60px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container{

    background-color: white;
    height: 28.5px;
    width: 58.5px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    position: absolute;


}

.animation_container {

    height: 30px;
    width: 60px;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    animation: explode 0.4s;
    position: absolute;

}

@keyframes explode {

    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }

}

/* Small portrait tablet */

@media (min-height:750px) and (min-width: 500px) and (max-height: 950px) and (max-width: 700px){

    .container{
        max-width: 100px;
        max-height: 100px;
    }

    .inner_container,.animation_container{

        max-width: 80px;
        max-height: 80px;
    }

}


/* medium portrait tablet */

@media (min-height:800px) and (min-width: 701px){



    @supports (-webkit-touch-callout: none) {

      }

}

@media (min-width: 1200px) {

    @supports  not (-webkit-touch-callout: none) {

    
  

    .container:hover, .inner_container:hover, .animation_container:hover{

        cursor: pointer;

    }



}
    
    
    }
    
    /*large desktop */
    
    @media (min-width: 1500px) {
    
     
    }
