/* portrait phone*/
@media (max-width:1200px) {

    .add {
        background-image: url("../../Assets/Backgrounds/mobile_add_book.svg"); 
        background-size: cover;
    }

    .search {
        background-image: url("../../Assets/Backgrounds/mobile_search.svg"); 
        background-size: cover;
    }

    .worth {
        background-image: url("../../Assets/Backgrounds/mobile_worth.svg"); 
        background-size: cover;
    }

}


@keyframes slide-left {
    0% {
        right: -50vw;
    }
    100% {
        right: 0vw;
    }

}

@media (min-height: 570px){

    .add{
        background-image: url("../../Assets/Backgrounds/small_wide_mobile_add_book.svg");
    } 
    .search{
        background-image: url("../../Assets/Backgrounds/small_wide_mobile_search.svg");
    } 
    .worth {
        background-image: url("../../Assets/Backgrounds/small_wide_mobile_worth.svg"); 
        background-size: cover;
    }

}


/* Long mobile */
@media (min-height: 570px) and (min-width:380px){

    .add{
       background-image: url("../../Assets/Backgrounds/long_mobile_add_book.svg");
   } 
    .search{
       background-image: url("../../Assets/Backgrounds/long_mobile_search.svg");
   } 

   .worth {
    background-image: url("../../Assets/Backgrounds/long_mobile_worth.svg"); 
    background-size: cover;
}


}

/* Portrait tab*/
@media (min-height:700px) and (min-width: 500px) and (max-height: 1050px) and (max-width: 800px) {

   .add{
       background-image: url("../../Assets/Backgrounds/portrait_tablet_add_book.svg");
   } 

   .search{
       background-image: url("../../Assets/Backgrounds/portrait_tablet_search.svg");
   } 

   .worth{
       background-image: url("../../Assets/Backgrounds/portrait_tablet_worth.svg");
   } 

   @supports (-webkit-touch-callout: none) {

       .add{
           background-image: url("../../Assets/Backgrounds/portrait_ipad_add_book.svg");
       } 

       .search{
           background-image: url("../../Assets/Backgrounds/portrait_ipad_search.svg");
       } 

       .worth{
           background-image: url("../../Assets/Backgrounds/portrait_ipad_worth.svg");
       } 

   }

}

/* landscape tab*/
@media (min-height:400px) and (min-width: 800px) and (max-height: 750px) and (max-width: 1199px) {

   .add{
       background-image: url("../../Assets/Backgrounds/landscape_tablet_add_book.svg");
   } 
   .search{
       background-image: url("../../Assets/Backgrounds/landscape_tablet_search.svg");
   } 
   .worth{
       background-image: url("../../Assets/Backgrounds/landscape_tablet_worth.svg");
   } 

   @supports (-webkit-touch-callout: none) {

       .add{
          background-image: url("../../Assets/Backgrounds/landscape_ipad_add_book.svg");
      } 

      .search{
        background-image: url("../../Assets/Backgrounds/landscape_ipad_search.svg");
    } 
    .worth{
        background-image: url("../../Assets/Backgrounds/landscape_ipad_worth.svg");
    } 
  }

}

/* large portrait tablet */
@media (min-height:1200px) and (min-width: 1000px) and (max-width: 1199px) {

   .add{
       background-image: url("../../Assets/Backgrounds/portrait_ipad_large_add_book.svg");
   } 
   .worth{
       background-image: url("../../Assets/Backgrounds/portrait_ipad_large_worth.svg");
   } 

}



@media (min-width:1200px){

    .add{
        background-image: url("../../Assets/Backgrounds/add_book.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .search{
        background-image: url("../../Assets/Backgrounds/search.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .worth{
        background-image: url("../../Assets/Backgrounds/worth.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}

/* large landscape tablet */
@media (width:1366px) and (height:954px){

    .add{
        background-image: url("../../Assets/Backgrounds/landscape_ipad_large_add_book.svg");
    }
    .search{
        background-image: url("../../Assets/Backgrounds/landscape_ipad_large_search.svg");
    }
    .worth{
        background-image: url("../../Assets/Backgrounds/landscape_ipad_large_worth.svg");
    }
 
 }