body{
  height: 100%;
  background-color: #F8F8FF;
}
html{
  height: 100%;
  background-color: #F8F8FF;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
  background-color: #F8F8FF;
  font-family: 'Exo 2', sans-serif;
  overflow-y: hidden;
}

.page{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}