body{
  height: 100%;
  background-color: #F8F8FF;
}
html{
  height: 100%;
  background-color: #F8F8FF;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
  background-color: #F8F8FF;
  font-family: 'Exo 2', sans-serif
}

input[type='text'],input[type='number'],textarea {font-size:16px;}
body{ -webkit-text-size-adjust:none;}