.container {
    width: 26%;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    color: white;
    margin-top: 8px;
    padding: 10px 5px;
    flex-direction: row;

}

.title {
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    color: white;
}

.number {
    font-size: 20px;
    color: white;
}
